<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[PSWPService]*</Include>
          <Exclude>[PSWPService.Tests]*,[xunit.*]*</Exclude>
          <ExcludeByFile>**/obj/**,**/*generated*.cs,**/*.g.cs,**/*.g.i.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
